@-webkit-keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes upperText {
  0% {
    transform: translateY(100%);
    color: transparent;
  }
  to {
    transform: translateY(0);
    color: #fff;
  }
}
@keyframes upperText {
  0% {
    transform: translateY(100%);
    color: transparent;
  }
  to {
    transform: translateY(0);
    color: #fff;
  }
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
body .menu .menu__click .text {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1.9fr 1.5fr;
  grid-template-rows: 1fr 5fr 1fr;
}
body {
  line-height: 1;
  background-color: #af7832;
  gap: 1px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body .menu,
body > * {
  background-color: #fff;
}
body > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #af7832;
  font-size: 22px;
  text-transform: uppercase;
}
body .menu {
  grid-column-start: -2;
  transition: color 0.3s linear, background-color 0.3s linear;
}
body .menu .menu__click,
body .menu:hover {
  background-color: #af7832;
  color: #fff;
}
body .menu .menu__click {
  cursor: default;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 1s;
}
body .menu .menu__click .text {
  width: 100%;
}
body .menu .menu__click .text > *,
body .number__row .number {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .menu,
body .menu .menu__click .text .close {
  cursor: pointer;
}
body .menu .menu__click .text .animation {
  color: transparent;
  -webkit-animation: upperText 1s linear forwards;
  animation: upperText 1s linear forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
body .center-image {
  grid-column: 2/-2;
  grid-row: 2/-2;
  background-image: url(https://images.unsplash.com/photo-1670918181822-3a135cfd0073?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-position: center;
}
body .number__row {
  background-color: #af7832;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  height: 100%;
  align-items: stretch;
}
body .number__row .number {
  background-color: #fff;
  cursor: pointer;
  transition: color 0.3s linear, background-color 0.3s linear;
}
body .number__row .number:hover {
  background-color: #af7832;
  color: #fff;
}
body .scrolling__text {
  grid-column-start: 2;
  white-space: nowrap;
  overflow: hidden;
}
body .scrolling__text span {
  -webkit-animation: scrollText 12s linear infinite forwards;
  animation: scrollText 12s linear infinite forwards;
}
