html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #af7832;
  display: grid;
  grid-template-columns: 1.5fr 1.9fr 1.5fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 1px;
}
body > * {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #af7832;
  font-size: 22px;
  text-transform: uppercase;
}
body .menu {
  grid-column-start: -2;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s linear, background-color 0.3s linear;
}
body .menu:hover {
  background-color: #af7832;
  color: white;
}
body .menu .menu__click {
  cursor: default;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 1s;
  background-color: #af7832;
  color: white;
}
body .menu .menu__click .text {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.5fr 1.9fr 1.5fr;
  grid-template-rows: 1fr 5fr 1fr;
}
body .menu .menu__click .text > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .menu .menu__click .text .close {
  cursor: pointer;
}
body .menu .menu__click .text .animation {
  color: transparent;
  -webkit-animation: upperText 1s linear forwards;
          animation: upperText 1s linear forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
body .center-image {
  grid-column: 2/-2;
  grid-row: 2/-2;
  background-image: url(https://images.unsplash.com/photo-1670918181822-3a135cfd0073?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  background-position: center;
}
body .number__row {
  background-color: #af7832;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;
  height: 100%;
  align-items: stretch;
}
body .number__row .number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: color 0.3s linear, background-color 0.3s linear;
}
body .number__row .number:hover {
  background-color: #af7832;
  color: white;
}
body .scrolling__text {
  grid-column-start: 2;
  white-space: nowrap;
  overflow: hidden;
}
body .scrolling__text span {
  -webkit-animation: scrollText 12s linear infinite forwards;
          animation: scrollText 12s linear infinite forwards;
}

@-webkit-keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes upperText {
  0% {
    transform: translateY(100%);
    color: transparent;
  }
  100% {
    transform: translateY(0%);
    color: white;
  }
}
@keyframes upperText {
  0% {
    transform: translateY(100%);
    color: transparent;
  }
  100% {
    transform: translateY(0%);
    color: white;
  }
}/*# sourceMappingURL=styles.css.map */